/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
  background-color: #fff;
}

/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
  background: rgba(255, 255, 255, 0.2);
}

.swiper-button-prev {
  background-color: #fff;
}
