<footer class="py-10 py-lg-12 position-relative">
  <div
    class="position-absolute d-none d-lg-block top-50 start-50 translate-middle"
  >
    <img
      src="../assets/images/logo-icon.png"
      alt="logo-icon"
      style="height: 80px; width: 80px"
    />
  </div>
  <div
    class="container d-flex flex-column gap-2 gap-lg-0 justify-content-start flex-lg-row justify-content-lg-between align-items-lg-center bg-white text-black"
  >
    <div class="flex-column justify-content-start">
      <a class="navbar-brand font-shrikhand fs-4" href="index.html"
        >ALPHABOX+</a
      >
      <span class="d-none d-lg-block fs-6 letter-spacing-1.6"
        >Copyright © 2023 Hexschool.</span
      >
    </div>
    <img
      src="../assets/images/logo-icon.png"
      alt="logo-icon"
      style="height: 80px; width: 80px"
      class="d-lg-none"
    />
    <ul
      class="d-flex flex-column gap-2 gap-lg-0 flex-lg-row justify-content-start align-items-lg-center list-unstyled fs-6 mb-0"
    >
      <li><a href="#" class="mx-3 text-black fs-6 fw-bold">關於我們</a></li>
      <li>
        <a href="productDiane.html" class="mx-3 text-black fs-6 fw-bold"
          >產品資訊</a
        >
      </li>
      <li><a href="#" class="mx-3 text-black fs-6 fw-bold">常見問題</a></li>
      <li><a href="#" class="mx-3 text-black fs-6 fw-bold">隱私政策</a></li>
    </ul>
    <span class="d-block d-lg-none fs-6 letter-spacing-016"
      >Copyright © 2023 Hexschool.</span
    >
  </div>
</footer>
