// 叉叉背景
.banner::after {
  content: "";
  position: absolute;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: -100px;
  z-index: -1;
}
// 圓圈漸層背景
.intro::after {
  content: "";
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);
  background-size: cover;
  width: 100%;
  height: 200%;
  top: -100px;
  z-index: -2;
}
// 模糊圖片
.intro::before {
  content: "";
  position: absolute;
  background: url(../images/design-desktop-carousel.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  filter: blur(12px);
  z-index: -1;
  opacity: 0.5;
  top: -100px;
}
//評論尺寸
.comment {
  height: 351px;
  @include pad {
    height: 416px;
  }
}

//背後大字透明度，不知道為什麼無法修改utilities
.opacity-04 {
  opacity: 4%;
}
